<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <tilte>Help page</title>
  </head>
  <body>
      <h1>{{pageTitle}}edieiu</h1>
  <footer>
    <p>Copywright 29016/p>
  </footer>
</body>
</html>
